
// About CSS

.about {
    color: #ffffff;
    position: relative;
  
    .about_us {
      background: #0c0c0c;
      position: relative;
  
      .about_content {
        position: relative;
        z-index: 2;
  
        .myname {
          font-weight: 700;
          color: #ffffff;
          background-image: linear-gradient(
            135deg,
            #ff004e 0%,
            #01f2eb 50%,
            #ff004e 100%
          );
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
  
        .personal_info span {
          min-width: 120px;
          display: inline-block;
          position: relative;
          margin-right: 7px;
  
          &:after {
            content: ":";
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
          }
        }
      }
    }
  
    // Over-View
  
    .overview-content {
      position: relative;
      z-index: 2;
  
      &::after {
        content: "";
        position: absolute;
        left: -50px;
        top: 0px;
        width: 380px;
        height: 380px;
        border-radius: 50%;
        background: hsla(342, 100%, 50%, 0.4);
        z-index: 2;
      }
  
      .circle-shape {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: linear-gradient(to left, #040404 0%, #ff004e 100%);
        z-index: 2;
      }
  
      .overview-slider {
        position: relative;
        padding: 2.5rem;
        height: 300px;
        width: 300px;
        background: hsla(178, 99%, 48%, 0.7);
        border-radius: 50%;
        z-index: 3;
  
        .single-item {
          outline: none;
          cursor: pointer;
  
          i {
            color: #ffffff;
            font-size: 3.5rem;
            text-shadow: 4px -2px 0 #ff004e, -4px 2px 0 #01f2eb;
          }
        }
      }
  
      .card {
        position: relative;
        background: linear-gradient(to top, transparent, #151515 100%);
        z-index: 2;
  
        i {
          font-size: 4rem;
          text-shadow: 3px -2px 0 #ff004e, -3px 2px 0 #01f2eb;
        }
  
        h5 {
          text-shadow: 1px -1px 0 #01f2eb, -1px 1px 0 #ff004e;
        }
      }
    }
  }
  